<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>School Tracker</h1>
    <h2>Diario de bordo rastreado por IA</h2>
    <h3>Projeto InovaTech - Python Developer</h3>
    RA <input type="number" name="ra" placeholder='ra do aluno' maxlength="8">
    <input type="submit" value="autenticar">
    <a href="cadastro.html"> cadastrar-se</a>
</body>
</html>