<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Visualização do Diário de Bordo</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body align="center">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <legend><h1>Entradas do Diário de Bordo</h1></legend>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Texto</th>
                            <th>Data e Hora</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in entries %}
                        <tr>
                            <td>{{ entry.id }}</td>
                            <td>{{ entry.texto }}</td>
                            <td>{{ entry.datahora }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a href="/" class="btn btn-primary">Adicionar Nova Entrada</a>
                <a href="/view_diario" class="btn btn-secondary">Atualizar</a>
            </div>
            <div class="col-md-4"></div>
        </div>
    </body>
</html>
